
<ion-content>
    <article class="crud">


        <header class="header">
            <h3 ng-if="crudCtrl.view.add">Add a new wine to the brain.</h3>
            <h3 ng-if="crudCtrl.view.edit">Edit a wine in the brain.</h3>
        </header>

        <form ng-if="crudCtrl.view.add" ng-submit="crudCtrl.addNewWine(crudCtrl.newWine)">

            <label for="name"></label>
            <input id="name" type="text" placeholder="Name" ng-model="crudCtrl.newWine.name"/>

            <label for="origin"></label>
            <input id="origin" type="text" placeholder="Origin" ng-model="crudCtrl.newWine.origin"/>

            <label for="year"></label>
            <input id="year" type="text" placeholder="Year" ng-model="crudCtrl.newWine.year"/>

            <label for="price"></label>
            <input id="price" type="text" placeholder="Price" ng-model="crudCtrl.newWine.price"/>

            <label for="taste"></label>
            <input id="taste" type="text" placeholder="Taste" ng-model="crudCtrl.newWine.taste"/>

            <label for="alcohol"></label>
            <input id="alcohol" type="text" placeholder="Alcohol" ng-model="crudCtrl.newWine.alcohol"/>

            <textarea id="comment" placeholder="Comments" ng-model="crudCtrl.newWine.comments"></textarea>

            <label for="rating">Rating: <span ng-bind="crudCtrl.newWine.rating"></span></label>
            <input id="rating" type="range" min="1" max="5" ng-model="crudCtrl.newWine.rating"/>

            <label for="headache">Headache: <span ng-bind="crudCtrl.newWine.headache"></span></label>
            <input id="headache" type="range" min="0" max="5" placeholder="" ng-model="crudCtrl.newWine.headache"/>

            <img ng-show="crudCtrl.base64Img" ng-src="{{crudCtrl.base64Img}}" alt="wine label"/>

            <button class="btn btn--round add" type="submit"><i class="icon ion-archive"></i></button>

        </form>


        <select
            ng-if="crudCtrl.view.edit"
            ng-options="wine.id as wine.name for wine in crudCtrl.wines"
            ng-model="crudCtrl.wineId"
            ng-change="crudCtrl.findById(crudCtrl.wineId)">
        </select>


        <form ng-if="crudCtrl.view.edit" ng-submit="crudCtrl.submitEditedWine(crudCtrl.editWine)">

            <label for="editName"></label>
            <input id="editName" type="text" placeholder="Name" ng-model="crudCtrl.editWine.name"/>

            <label for="editOrigin"></label>
            <input id="editOrigin" type="text" placeholder="Origin" ng-model="crudCtrl.editWine.origin"/>

            <label for="editYear"></label>
            <input id="editYear" type="text" placeholder="Year" ng-model="crudCtrl.editWine.year"/>

            <label for="editPrice"></label>
            <input id="editPrice" type="text" placeholder="Price" ng-model="crudCtrl.editWine.price"/>

            <label for="editTaste"></label>
            <input id="editTaste" type="text" placeholder="Taste" ng-model="crudCtrl.editWine.taste"/>

            <label for="editAlcohol"></label>
            <input id="editAlcohol" type="text" placeholder="Alcohol" ng-model="crudCtrl.editWine.alcohol"/>

            <textarea id="editComment" placeholder="Comments" ng-model="crudCtrl.editWine.comments"></textarea>

            <label for="editRating">Rating: <span ng-bind="crudCtrl.editWine.rating"></span></label>
            <input id="editRating" type="range" min="1" max="5" ng-model="crudCtrl.editWine.rating"/>

            <label for="editHeadache">Headache: <span ng-bind="crudCtrl.editWine.headache"></span></label>
            <input id="editHeadache" type="range" min="0" max="5" placeholder="" ng-model="crudCtrl.editWine.headache"/>

            <img ng-show="crudCtrl.base64Img" ng-src="{{crudCtrl.base64Img}}" alt="wine label"/>

            <button class="btn btn--round edit" type="submit"><i class="icon ion-archive"></i></button>

        </form>








    </article>
</ion-content>

<footer>
    <button class="camera btn btn--round btn--shadow" ng-click="crudCtrl.getImage()"><i class="icon ion-android-camera"></i></button>

    <div class="switch">
        <button ng-if="!crudCtrl.view.edit" class="btn btn--shadow btn--round__fixed" ng-click="crudCtrl.toggleView()"> <i class="icon ion-edit"></i></button>
        <button ng-if="!crudCtrl.view.add" class="btn btn--shadow btn--round__fixed" ng-click="crudCtrl.toggleView()"> <i class="icon ion-plus"></i></button>
    </div>
</footer>
