.btn {
    border: none;
    background: $complimentary6;
    font-family: inherit;
    color: #ffffff;
    cursor: pointer;
}

.btn--shadow {
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

.btn--sm {
    padding: $padding-base-vertical;
    font-size: $font-size-xsmall;
    line-height: $line-height-small;
}

.btn--md {
    padding: $padding-large-vertical;
    font-size: $font-size-small;
    line-height: $line-height-base;
}

.btn--lg {
    padding: $padding-large-horizontal;
    font-size: $font-size-large;
    line-height: $line-height-large;
}

.btn--xlg {
    padding: $padding-xlarge-horizontal;
    font-size: $font-size-xlarge;
    line-height: $line-height-xlarge;
}

.btn--round {
    background: $complimentary2;
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.btn--round__fixed {
    @extend .btn--round;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btn--round--comp1 {
    @extend .btn--round;
    background: $complimentary1;
}

.btn--round--comp3 {
    @extend .btn--round;
    background: $complimentary3;
}

.btn--round--comp4 {
    @extend .btn--round;
    background: $complimentary4;
}

.btn--round--comp5 {
    @extend .btn--round;
    background: $complimentary5;
}

.btn--round--comp6 {
    @extend .btn--round;
    background: $complimentary6;
}

.btn--round--fb {
    @extend .btn--round;
    background: $facebook;
}



.btn--block {
    width: 100%;
}

.btn--neutral {
    background: none;
    &:hover {
        background: none;
    }
}

.btn-1 {
    @include flex-grow(1);
}

.btn-2 {
    @include flex-grow(2);
}

.btn-3 {
    @include flex-grow(3);
}

.btn-4 {
    @include flex-grow(4);
}

.btn-group {
    @include flexbox;
    flex-wrap: nowrap;
    height: 60px;
}
