
<section class="search profile">
    <article>
        <header class="header">
            <h3 class="h1">Hi <span ng-bind="profileCtrl.user.firstName"></span>.</h3>
        </header>

        <h1>Favorites</h1>

        <ion-list>

            <ion-item ng-repeat="fav in profileCtrl.user.favorites">

                <h2 ng-bind="fav.name"></h2>

                <ion-option-button class="button-positive icon ion-android-share" ng-click="share(item)"></ion-option-button>

                <wb-favorite wine="fav"></wb-favorite>

            </ion-item>

        </ion-list>



    </article>
</section>
